<!DOCTYPE html>
<html>
  <head>
    <title>TaskRubyt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.taskrabbit.com/favicon.ico" type="image/x-icon">
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDgSVMBGxJdjthaD-ZWB4v72GpwldpgLU&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
